body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f4f8;
}

.container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left-section {
  flex: 1;
  background-image: url(../logo/WhatsApp\ Image\ 2024-05-30\ at\ 15.10.18.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 40px;
}

.welcome-message {
  text-align: center;
}

.welcome-message .logo img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.welcome-message h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.welcome-message p {
  font-size: 16px;
  margin-bottom: 20px;
}

.images img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}

.right-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.form-container p {
  margin-bottom: 20px;
  color: #7f8c8d;
}

.form-container p a {
  color: #27ae60;
  text-decoration: none;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #34495e;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #27ae60;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2ecc71;
}

.social-signup {
  text-align: center;
  margin-top: 20px;
}

.social-signup p {
  margin-bottom: 10px;
  color: #7f8c8d;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}
